@charset "utf-8";

html, body {
	padding: 0px;
	margin: 0px;
  font-family: Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
	
	.img-thumbnail {
  display: inline-block;
  max-width: 32%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
}



h3 {
	color: #362f8b;
	font-size: 20px;
	margin-bottom: 0px;
}

h4 {
	color: #888888;
	font-size: 16px;
	margin-bottom: 10px;
}

hr {
	margin-top: 10px;
}

.addingPadding {
	padding-left: 2px;
	padding-right: 2px;
}

.dLogo {
	width: 300px
}

.decorationNone a {
	text-decoration: none;
}

a {
	text-decoration: none !important;
}

.marginBottom50 {
	margin-bottom: 50px;
}

.buttonTable {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: none;
}

.table-bordered {
	margin-bottom: 0px !important;
}

.rightAmount {
	float: right;
}

.collapse {
	overflow: auto;
    max-height: 160px !important;
}


#main {
	float: left;
	display: inline-block;
	border-radius: 100px;
	border: 0px solid black;
}

#mini-fab {
	display: inline-block;
}

#popup1 {
	border-radius: 100px;
}

#popup2 {
	border-radius: 100px;
}
#popup3 {
	border-radius: 100px;
}

.popupsCol {
	z-index: 1000;
}



#main_2 {
	float: left;
	display: inline-block;
	border-radius: 100px;
	border: 0px solid black;
}

#mini-fab_2 {
	display: inline-block;
}

#popup1_2 {
	border-radius: 100px;
}

#popup2_2 {
	border-radius: 100px;
}
#popup3_2 {
	border-radius: 100px;
}



.posFooter {
	padding: 5px;
	margin-bottom: 5px;
	
}

.totalBill {
	font-size: 22px;
	color: #ffffff;
	font-weight: bold;
}

.totalBillAmt {
	float: right;
		font-size: 22px;
	color: #ffffff;
	font-weight: bold;
}


.payButton {
	width: 68%;
	display: inline-block;
}

.cancelButton {
	width: 30%;
	display: inline-block;
	margin-top: 0px !important;
}

.topButton {
	width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
	overflow-x: auto;
}

.topButtonDiv {
	padding: 5px;
	position: fixed;
	top: 0px;
	background-color: #ffffff;
	width: 100%;
	z-index: 1000;
}

.verButtonsDiv {
	width: 20% !important;
	display: inline-block;
	background-color: #e6e7e8;
	text-align: center;
	padding: 5px;
	position: fixed;
	top: 70px;
	
}

.minTable {
	width: 80%;
	display: inline-block;
	float: right;
	margin-top: 60px;
}

.mainPackage {
	display: block;
	overflow: auto;
}

.posTable {
	border: none !important;
}

.table-responsive {
	border: none;
}


.buttonProfile {
	
		width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
	position: fixed;
	right: 5%;
	bottom: 80px;
}

.fixedFooter {
	position: fixed;
	bottom: 0px;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.fixedFooter1 {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.fixedFooter2 {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	margin-bottom: 5px;
}

.fixedFooter3 {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.marginBottom10 {
	margin-bottom: 10px;
}

.marginBottom20 {
	margin-bottom: 20px;
}

.background-gray {
	background-color: #d8d7d5;
}

.padding8 {
	padding: 8px;
}

.whiteBackground {
	background-color: white;
}

.floatRight {
	float: right;
}

.myCart {
	border: 1px solid #c7c7c7;
	width: 100%;
	padding:10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.idHead {
	font-size: 24px;
	color: #362f8b;
}

.width100 {
	width: 100%;
}

.width30 {
	width: 30%;
}

.width40 {
	width: 40%;
}

.textLeft {
	text-align: left;
}